<div class="dashboard-content ui-g">
  <p-card routerLink="/books"
          class="ui-lg-3 ui-lg-offset-2 ui-md-4 ui-md-offset-1 ui-sm-8 ui-sm-offset-2">
    <p-header>
      <img src="assets/images/find_a_book.jpg">
    </p-header>
    <h1>Find a book</h1>
  </p-card>
  <p-card routerLink="/my-books"
          class="ui-lg-3 ui-lg-offset-2 ui-md-4 ui-md-offset-2 ui-sm-8 ui-sm-offset-2">
    <p-header>
      <img src="assets/images/my_books.png">
    </p-header>
    <h1>My books</h1>
  </p-card>
</div>
